@font-face {
  font-family: 'Open Sans Light';
  src: url('/font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url('/font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('/font/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('/font/OpenSans-SemiBold.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Light', sans-serif;
	font-weight: 400;
}

html, body, #app {
	height: 100%;
	width: 100%;
}

body {
	background-color: white;
	color: #333;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 0.5em 0;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1.1em;
}

a {
	color: inherit;
}

a.undecor {
	text-decoration: none;
}

.semibold {
  font-family: 'Open Sans SemiBold', sans-serif;
}
.bold {
  font-family: 'Open Sans Bold', sans-serif;
}

.clickable {
	user-select: none;
	cursor: pointer;
}

:root {
	--color-main-lighter: rgb(180, 180, 180);
	--color-main: rgb(40, 40, 40);
	--color-selected: lightseagreen;
	--color-grey-70: rgb(70, 70, 70);
	--color-link: var(--color-main);
	--color-link-ext: var(--color-blue);
	--color-blue: rgb(104, 192, 255);
	--color-blue-lighter: rgb(171, 220, 255);
	--color-blue-pale: rgb(224, 242, 255);
	--color-blue-darker: rgb(25, 159, 255);
	--color-background: var(--color-main-lighter);
	--dim-fontsize-light: 200;
	--dim-header-height: 3rem;
	--dim-main-height: calc(100% - var(--dim-header-height));
	--dim-padding: 1rem;
	--dim-sidebarWidth: 300px;
}
